*.db
REST_APIs/fast_cities/sql_app.db
REST_APIs/fast_cities/__pycache__/
REST_APIs/fast_venv/
REST_APIs/flask_cities/cities/__pycache__/
REST_APIs/flask_cities/instance/
REST_APIs/flask_venv/
fast_venv/
flask_venv/
